@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
  --background: #f8f9fa;
  --foreground: #101214;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101214;
    --foreground: #f8f9fa;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  line-height: 1.5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
